body{
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
}
form.form-inline{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-fluid{
  padding-top: 30px;
}
.margen-inferior{
  padding-bottom: 30px;
}
.margen-amplio{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-margen{
  margin-bottom: 20px;
}
h4{
  font-weight: bold;
}
.jumbotron p{
  font-size: 14px;
}
.clearfix{
  clear: both;
}
.izquierda,.flotar>*{
  float: left;
}
.derecha{
  float: right;
}

.fila{
  width: 100%;
}
.fila div{
  box-sizing: border-box;
}

.boton,input[type=text]{
  border-radius: 5px;
}
input[type=text]{
  padding: 11px 8px;
  border: 1px solid rgb(150, 150, 150);
}

.navbar{
  margin: auto;
  width: 70%;
}
.texto-centrado{
  text-align: center;
}
/* FILA 1 - CABEZA */
.cabeza{
  padding-top: 0px;
  background-image: url('images/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

}
.cabeza .navbar{
  background-color: transparent;
  border: none;
}
.bloque-contenido{
  max-width: 500px;
  margin: auto;
}
.cabeza .logo{
  height: 35px;
}
.cabeza h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding: 20px 0;
}

/* FILA 2 - DESCRIPCION */


/* FILA 3 - SOLICITUD */
.solicitud{
  border: 0 solid rgb(190, 190, 190);
  border-width: 1px 0;
  background-color: rgb(230, 230, 230);
}

/* FILA 4 - CONTACTO */
.contacto h4{
  font-weight: normal;
}
.contacto h5{
  font-weight: bold;
}
.contacto h5,.contacto p{
  margin: 0;
}
/* FILA 5 - PIE */
.pie{
  box-sizing: border-box;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(33, 33, 33);
}
